@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}



body::-webkit-scrollbar {
    display: none !important;
}

.swiper-pagination-bullet {
    background-color: #D9D9D9 !important;
    width: 12px !important;
    height: 12px !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #FFFFFF !important;
    width: 12px !important;
    height: 12px !important;
    /* Ubah warna latar belakang bullet aktif */
}

/* Change background navbar */
.navbarbgActive {
    background: rgba(0, 0, 0, 0.2);
    /* Warna hitam dengan opacity 0.2 */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Warna hitam lebih tegas pada bayangan */
    transition: 0.4s;
}

.navbarbgActive .flex ul li a {
    color: black;
}

#navbar .line {
    fill: none;
    stroke: #024395;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

#navbar .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

#navbar .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

#navbar .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

#navbar .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

#navbar .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

#navbar .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

#navbar .title-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#navbar .flex ul li a {
    color: #ffff;
    font-weight: 400;
}

#navbar .flex ul li a:hover,
#navbar .flex ul li a.active {
    color: #024395;
    font-weight: 600;
}

#navbar .flex a:hover::after {
    width: 100%;
}

#navbar .flex ul li a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #024395;
    transition: width .3s;
}

#navbar .flex ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #024395;
    transition: width .3s;
}

#header-pengaduan {
    background-image: url('./../assets/building2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#header-report {
    background-image: url('./../assets/pengaduanBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#beranda {
    background-image: url('./../assets/bgBeranda.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}



@media screen and (max-width: 1256px) {
    .flex .self-center .flex span:last-child {
        display: none;
    }
}

@media screen and (max-width: 1020px) {
    .flex .self-center .flex span:last-child {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-up {
        background: rgba(211, 202, 202, 0.3);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: 0.4s;
    }

}